/*----------------------------------------------------------------------------- 
=MAIN STYLES  
-----------------------------------------------------------------------------*/

.carousel {
	margin-bottom: 100px;
}

hr {
	margin: 100px 0;
}

.trusted-companies {
	margin: 100px auto;
}
